@font-face {
  font-family: 'AcuminPro-Bold';
  src: url('../assets/fonts/AcuminPro-Bold.eot');
  src: url('../assets/fonts/AcuminPro-Bold.woff2') format('woff2'),
       url('../assets/fonts/AcuminPro-Bold.woff') format('woff'),
       url('../assets/fonts/AcuminPro-Bold.svg#AcuminPro-Bold') format('svg'),
       url('../assets/fonts/AcuminPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AcuminPro-Regular';
  src: url('../assets/fonts/AcuminPro-Regular.eot');
  src: url('../assets/fonts/AcuminPro-Regular.woff2') format('woff2'),
       url('../assets/fonts/AcuminPro-Regular.woff') format('woff'),
       url('../assets/fonts/AcuminPro-Regular.svg#AcuminPro-Regular') format('svg'),
       url('../assets/fonts/AcuminPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
