@import '.././styles/main.scss';

.app-page {
  background-color: $dark-gray;

  &.loading {
    @extend .main-container;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-blue;
  }
}
